@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900&subset=korean');

@font-face { 
   font-family: 'interbureau';
   font-style: normal;
   src:url('../font/interbureau.ttf' ) format('truetype'); 
}




@import './include/reset';
@import './include/mixin';

@import './component/header';
@import './component/figure';
@import './component/main/banner';
@import './component/main/content';

@import './component/footer';


