$ftColor: #666;

footer {
  width: 100%;
  background: $ftColor;
  position: relative;
  height: 100px;
  padding: 2rem;
  text-align: center;
  color: #fff;
}

/* tablet */
@include rwd(959px) {
  footer {
  }
}

/* mobile */
@include rwd(539px) {
  footer {
  }
}
