$koFont: "noto sans KR";
$smallFont: 12px;
$BasicFont: 14px;
$midFont: 24px;
$biggerFont: 30px;
$TitleFont: 36px;
$BasicBorder: 1px solid #eee;

#skip_navi > li > a {
  display: block;
  position: fixed;
  top: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #171733;
  font-size: $BasicFont;
  font-family: $koFont;
  color: #fff;
  text-align: center;
  z-index: 5;

  &.on {
    top: 0;
  }
}

header {
  width: 100%;
  text-align: center;
  background: #fff;

  & > div {
    &:nth-child(1) {
      p {
        width: 980px;
        margin: 0 auto;
        padding: 60px 0 0;
        font-family: "Raleway", sans-serif;
        font-size: 24px;
        letter-spacing: 0.8rem;
        text-transform: uppercase;
      }
    }

    &:nth-child(2) {
      h2 {
        width: 980px;
        margin: 0 auto;
        padding: 1.2rem 0 4rem;
        font-size: 5.4rem;
        letter-spacing: 0.8rem;

        p {
          font-family: "Raleway", sans-serif;
        }
      }
    }

    &:nth-child(3) {
      nav {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        background: #fff;
        overflow: hidden;
        position: relative;
        ul {
          width: 980px;
          margin: 0 auto;
          li {
            float: left;
            width: 20%;
            border-right: 1px solid #000;
            &:nth-child(1) {
              border-left: 1px solid #000;
            }
            a {
              display: inline-block;
              width: 100%;
              height: 100%;
              padding: 16px 2px;
              font-size: $smallFont;
              letter-spacing: 0.2rem;
            }
          }
        }
        &.fix {
          width: 100%;
          position: fixed;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          margin-left: -7px;
          background: rgba(255, 255, 255, 0.5);
          z-index: 1;
        }
      }
    }
  }
}
