$koFont: "noto sans KR";
$smallFont: 12px;
$BasicFont: 14px;
$midFont: 18px;
$biggerFont: 30px;
$TitleFont: 36px;
$border: 1px solid #000;

main {
  position: relative;
  width: 100%;
  height: 100%;

  .section {
    width: 100%;
    height: 100%;
    padding: 8rem 2rem 2rem;
    position: relative;

    &:nth-child(1) {
      min-height: 640px;
      height: 100vh;
      background: #fff;

      .about {
        & > div {
          max-width: 980px;
          margin: 0 auto;
          position: relative;

          span {
            position: absolute;
            top: -30px;
            right: 0;
            width: 36%;
            height: 60px;
            line-height: 60px;
            background: #fff;
            text-align: center;
            font-size: $midFont;
            letter-spacing: 0.6rem;
            text-transform: uppercase;
            border: $border;
          }
        }
        figure {
          max-width: 980px;
          height: 640px;
          margin: 0 auto;
          overflow: hidden;
          border: $border;
          background: #fff;

          div {
            float: left;
            width: 60%;
            text-align: center;
            overflow: hidden;

            img {
              width: auto;
              height: 100%;
            }
          }

          figcaption {
            float: left;
            width: 40%;

            p {
              padding: 5rem 2rem 0;
              font-size: 16px;
              line-height: 1.8;
              text-align: right;
              letter-spacing: -0.9px;

              a {
                color: #000;
                border-bottom: $border;
                span {
                  padding: 0 0.3rem;
                  vertical-align: text-bottom;
                }
              }
            }
          }
        }
      }
    }
    &:nth-child(2) {
      min-height: 640px;
      background: #fff;

      .work {
        .work_box {
          & > p {
            &:nth-child(1) {
              font-family: "Raleway", sans-serif;
              font-size: $TitleFont;
              font-weight: bold;
              letter-spacing: 1rem;
            }
            &:nth-child(2) {
              font-size: $BasicFont;
              padding: 1rem 0 0 0;
            }
            &:nth-child(3) {
              font-size: $BasicFont;
              padding: 0.4rem 0 2rem;
            }
          }

          ul {
            width: 100%;
            overflow: hidden;
            li {
              float: left;
              width: 10%;
              height: 64vh;
              border-right: 1px solid #ccc;
              border-top: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              overflow: hidden;
              transition: 1s;
              color: #aaa;

              div.box {
                padding: 2rem 1rem 1rem 1rem;

                div {
                  display: inline-block;
                  width: 100%;
                  padding: 4rem 0 0 0;

                  p.box_p_1 {
                    font-family: "Raleway", sans-serif;
                    font-size: $biggerFont;
                    font-weight: bold;
                    letter-spacing: 3px;
                    transition: 1s;
                  }
                  p.box_p_2 {
                    font-size: 18px;
                    font-weight: bold;
                    padding: 1rem 0;
                    transition: 1s;
                  }
                  p.box_p_3 {
                    font-size: 0;
                    transition: 0.3s;
                  }
                  p.box_p_4 {
                    font-size: 0;
                    padding: 1rem 0;
                    transition: 0.3s;
                  }
                  p.box_p_5 {
                    font-size: 0;
                    transition: 0.3s;
                  }
                }
                a {
                  display: none;
                  transform: scaleX(0) scaleY(0);
                  opacity: 0;
                  transition: 1s;
                  width: 80%;
                  overflow: hidden;
                  box-shadow: rgba(0, 0, 0, 0.3) 11px 10px 20px;

                  img {
                    width: 100%;
                    height: 100%;
                    vertical-align: text-bottom;
                  }
                }
                span {
                  display: none;
                  transform: scaleX(0) scaleY(0);
                  opacity: 0;
                  transition: 1s;
                  width: 80%;
                  overflow: hidden;
                  box-shadow: rgba(0, 0, 0, 0.3) 11px 10px 20px;

                  img {
                    width: 100%;
                    height: 100%;
                    vertical-align: text-bottom;
                  }
                }
              }

              &:hover {
                border-right: $border;
                border-top: $border;
                border-bottom: $border;
                border-left: $border;
                color: #111;
              }
              &.on {
                width: 70%;
                div.box {
                  padding: 2rem 2rem 1rem;
                  div {
                    width: 20%;
                    float: left;
                    padding: 4rem 1rem 0 0;

                    p.box_p_2 {
                      font-size: 1.5rem;
                    }
                    p.box_p_3 {
                      font-size: 16px;
                    }
                    p.box_p_4 {
                      font-size: 16px;
                    }
                    p.box_p_5 {
                      font-size: 16px;
                    }
                  }
                  a {
                    display: inline-block;
                    transform: scaleX(1) scaleY(1);
                    opacity: 1;
                    transition: 1s;
                    width: 80%;
                  }
                  span {
                    display: inline-block;
                    transform: scaleX(1) scaleY(1);
                    opacity: 1;
                    transition: 1s;
                    width: 80%;
                  }
                }
                border-right: $border;
                border-top: $border;
                border-bottom: $border;
                border-left: $border !important;
                color: #111;
              }
              &:nth-of-type(1) {
                border-left: 1px solid #ccc;
              }
            }
          }
        }
      }
    }
    &:nth-child(3) {
      min-height: 640px;
      background: #fff;

      .portfolio {
        .portfolio_box {
          & > p {
            & > span {
              display: inline-block;
              width: 20px;
              height: 20px;
              vertical-align: bottom;
            }
            &:nth-child(1) {
              font-family: "Raleway", sans-serif;
              font-size: $TitleFont;
              font-weight: bold;
              letter-spacing: 1rem;
            }
            &:nth-child(2) {
              font-size: $BasicFont;
              padding: 1rem 0 0 0;
              & > span {
                background: url("../img/portfolio/html5.png") no-repeat;
                background-size: cover;
              }
            }
            &:nth-child(3) {
              font-size: $BasicFont;
              padding: 0.4rem 0 0 0;
              & > span:nth-child(1) {
                background: url("../img/portfolio/css.png") no-repeat;
                background-size: contain;
              }
              & > span:nth-child(2) {
                background: url("../img/portfolio/sass.png") no-repeat;
                background-size: cover;
              }
            }
            &:nth-child(4) {
              font-size: $BasicFont;
              padding: 0.4rem 0 0 0;
              & > span {
                background: url("../img/portfolio/js.png") no-repeat;
                background-size: contain;
              }
            }
            &:nth-child(5) {
              font-size: $BasicFont;
              padding: 0.4rem 0 2rem;
            }
          }
          & > ul {
            width: 100%;
            overflow: hidden;
            & > li {
              float: left;
              width: 5%;
              height: 64vh;
              border-right: 1px solid #ccc;
              border-top: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              overflow: hidden;
              transition: 1s;
              color: #aaa;

              div.box {
                padding: 2rem 1rem 1rem 1rem;

                div:nth-child(1) {
                  display: inline-block;
                  width: 100%;
                  float: left;
                  padding: 4rem 1rem 0 0;
                  font-size: $midFont;

                  p.box_p_1 {
                    font-family: "Raleway", sans-serif;
                    font-size: $biggerFont;
                    font-weight: bold;
                    transition: 0.6s;
                  }
                  p.box_p_2 {
                    width: 200px;
                    font-size: $midFont;
                    font-weight: bold;
                    padding: 1rem 0;
                    transform: translateX(-3.5rem) translateY(6rem)
                      rotate(90deg);
                    transition: 1s;
                  }
                  p.box_p_3 {
                    font-size: 0;
                    transition: 0.3s;
                  }
                  p.box_p_4 {
                    font-size: 0;
                    padding: 0.5rem 0;
                    transition: 0.3s;
                    span.browsericon {
                      display: inline-block;
                      width: 20px;
                      height: 20px;
                      margin-right: 5px;
                      opacity: 0;
                      transition: 0.3s;

                      &:nth-child(1) {
                        background: url("../img/portfolio/browser_001.png")
                          no-repeat;
                        background-size: cover;
                      }
                      &:nth-child(2) {
                        background: url("../img/portfolio/browser_002.png")
                          no-repeat;
                        background-size: cover;
                      }
                      &:nth-child(3) {
                        background: url("../img/portfolio/browser_003.svg")
                          no-repeat;
                        background-size: cover;
                      }
                      &:nth-child(4) {
                        background: url("../img/portfolio/browser_004.png")
                          no-repeat;
                        background-size: cover;
                      }
                      &:nth-child(5) {
                        background: url("../img/portfolio/browser_005.png")
                          no-repeat;
                        background-size: cover;
                      }
                    }
                  }
                  p.box_p_5 {
                    font-size: 0;
                    transition: 0.3s;
                  }
                }
                div:nth-child(2) {
                  float: right;
                  transform: scaleX(0);
                  opacity: 0;
                  transition: linear 1s;
                  width: 50%;
                  box-shadow: rgba(0, 0, 0, 0.3) 11px 10px 20px;
                  a {
                    overflow: hidden;
                    display: block;
                    width: 100%;
                    height: 100%;

                    img {
                      width: 100%;
                      height: auto;
                      vertical-align: text-bottom;
                    }
                  }
                  span {
                    overflow: hidden;
                    display: block;
                    width: 100%;
                    height: 100%;

                    img {
                      width: 100%;
                      height: auto;
                      vertical-align: text-bottom;
                    }
                  }
                }
              }

              &:hover {
                border-right: $border;
                border-top: $border;
                border-bottom: $border;
                border-left: $border;
                color: #111;
              }
              &.on {
                width: 75%;
                border-right: $border;
                border-top: $border;
                border-bottom: $border;
                border-left: $border !important;
                color: #111;
                transition: 1s;

                div.box {
                  padding: 2rem 2rem 1rem;
                  div:nth-child(1) {
                    width: 20%;
                    float: left;

                    p.box_p_1 {
                      letter-spacing: 3px;
                    }

                    p.box_p_2 {
                      font-size: 1.5rem;
                      transform: translateX(0rem) translateY(0rem) rotate(0deg);
                      transition: 1s;
                    }
                    p.box_p_3 {
                      font-size: $midFont;
                      transition: 0.6s;
                    }
                    p.box_p_4 {
                      span.browsericon {
                        opacity: 1;
                        transition: 0.3s;
                      }
                    }
                    p.box_p_5 {
                      font-size: $BasicFont;
                      transition: 0.6s;
                    }
                  }
                  div:nth-child(2) {
                    display: inline-block;
                    transform: scaleX(1);
                    opacity: 1;
                    transition: 1s;
                    width: 54%;
                  }
                }
              }
              &:nth-of-type(1) {
                border-left: 1px solid #ccc;
              }
            }
          }
        }
      }
    }
    &:nth-child(4) {
      min-height: 640px;
      padding: 20rem 2rem;
      background: #e8f9ff;

      .contact {
        width: 980px;
        margin: 0 auto;
        overflow: hidden;

        .info_wrap {
          float: left;
          width: 50%;
          height: 400px;
          perspective: 600px;
          transition: 0.3s;

          .info_navi {
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 10;

            & > li {
              width: 100px;
              height: 66.666px;
              line-height: 66.666px;
              font-family: "Raleway", sans-serif;
              font-size: $BasicFont;
              letter-spacing: 2px;
              color: #eee;
              background: #455155;
              text-align: center;
              border-bottom: 1px solid #eee;
              box-sizing: border-box;
              cursor: pointer;
              transition: 0.5s;

              &:nth-child(6) {
                border-bottom: none;
              }

              &.on {
                background: #fff;
                color: #000;
              }
            }
          }

          #info {
            width: 400px;
            height: 400px;
            position: absolute;
            top: 0px;
            right: 0px;
            transform: translateZ(-200px);
            transform-style: preserve-3d;
            transition: 1s;

            & > div {
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0px;
              right: 0px;
              text-align: center;
              z-index: 2;

              & > p {
                width: 100%;
                height: 100%;
                font-size: $BasicFont;
                letter-spacing: 1px;
                line-height: 1.5;
                color: #fff;
                margin: 0px auto;
                padding: 16rem 2rem 0;
                box-sizing: border-box;
              }

              &::before {
                content: "";
                display: block;
                background: rgba(0, 0, 0, 0.3);
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
              }
              &.on {
                z-index: 3;
              }
              &.face1 {
                transform: rotateY(0deg) translateZ(200px);
                background: url(../img/contact/img_family.JPG) no-repeat center
                  center;
                background-size: cover;
              }
              &.face2 {
                transform: rotateY(90deg) translateZ(200px);
                background: url(../img/contact/img_india.jpg) no-repeat center
                  center;
                background-size: 105%;
              }
              &.face3 {
                transform: rotateY(180deg) translateZ(200px);
                background: url(../img/contact/img_trip.jpg) no-repeat center
                  center;
                background-size: cover;
              }
              &.face4 {
                transform: rotateY(270deg) translateZ(200px);
                background: url(../img/contact/img_food.jpg) no-repeat center
                  center;
                background-size: cover;
              }
              &.face5 {
                transform: rotateX(90deg) translateZ(200px);
                background: url(../img/contact/img_topic.jpg) no-repeat center
                  center;
                background-size: cover;
              }
              &.face6 {
                transform: rotateX(270deg) translateZ(200px);
                background: url(../img/contact/IMG_3706.jpg) no-repeat center
                  center;
                background-size: cover;
              }
            }

            &.info1 {
              transform: translateZ(-200px) rotateY(0deg);
            }
            &.info2 {
              transform: translateZ(-200px) rotateY(-90deg);
            }
            &.info3 {
              transform: translateZ(-200px) rotateY(-180deg);
            }
            &.info4 {
              transform: translateZ(-200px) rotateY(-270deg);
            }
            &.info5 {
              transform: translateZ(-200px) rotateX(-90deg);
            }
            &.info6 {
              transform: translateZ(-200px) rotateX(-270deg);
            }
          }
        }
        .email_wrap {
          float: left;
          width: 50%;
          padding: 0 0 0 2rem;

          h3 {
            font-family: "Raleway", sans-serif;
            font-size: $biggerFont;
            letter-spacing: 0.3rem;
            padding-bottom: 3.8rem;
            text-align: right;
          }
          input {
            border: 1px solid #aaa;
            padding: 0.5rem;
            font-size: $BasicFont;
            display: block;
            width: 100%;
            margin-bottom: 0.5rem;
            &::placeholder {
              color: #aaa;
            }
          }
          textarea {
            border: 1px solid #aaa;
            padding: 0.5rem;
            font-family: $koFont;
            font-size: $BasicFont;
            display: block;
            width: 100%;
            margin-bottom: 0.5rem;
            &::placeholder {
              color: #aaa;
            }
          }
          .email_btn {
            cursor: pointer;
            background: #455155;
            color: #fff;
            border: 1px solid #455155;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.dim {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 0;
}
#resume {
  display: none;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  .resume_con {
    background-color: #fefefe;
    padding: 4rem;
  }
  .resume_close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    border: $border;
    a {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }
}

@include rwd(1920px) {
  main {
    .section {
      &:nth-child(3) {
        padding: 8rem 2rem;
        .portfolio {
          .portfolio_box {
            & > ul {
              & > li {
                height: 50vh;
              }
            }
          }
        }
      }
    }
  }
}

/* tablet */
@include rwd(1400px) {
  main {
    .w {
      display: none;
    }
    .section {
      &:nth-child(2) {
        .work {
          .work_box {
            ul {
              li {
                width: 50%;
                height: 50vh;
                div.box {
                  padding: 2rem;
                  text-align: center;
                  div {
                    text-align: left;
                    padding: 0;
                    p.box_p_2 {
                      padding: 0.5rem 0;
                    }
                    p.box_p_4 {
                      padding: 0.1rem;
                    }
                    p.box_p_5 {
                      padding-bottom: 1.5rem;
                    }
                  }
                  a {
                    box-shadow: rgba(0, 0, 0, 0.5) 11px 10px 20px;
                  }
                  span {
                    box-shadow: rgba(0, 0, 0, 0.5) 11px 10px 20px;
                  }
                }
                &.on {
                  width: 50%;
                  div.box {
                    div {
                      width: 100%;
                      padding: 0;
                    }
                    a {
                      width: 76%;
                      float: right;
                    }
                    span {
                      float: right;
                    }
                  }
                }
                &:nth-of-type(3) {
                  border-left: 1px solid #ccc;
                }
              }
            }
          }
        }
      }
      &:nth-child(3) {
        .portfolio {
          .portfolio_box {
            & > ul {
              & > li {
                width: 50%;
                height: 57vh;
                div.box {
                  padding: 2rem;
                  text-align: center;
                  div:nth-child(1) {
                    text-align: left;
                    display: block;
                    width: 100%;
                    padding: 0;

                    p.box_p_1 {
                      letter-spacing: 3px;
                    }
                    p.box_p_2 {
                      width: 100%;
                      padding: 0.5rem 0;
                      transform: translateX(0rem) translateY(0rem) rotate(0deg);
                    }
                    p.box_p_3 {
                      font-size: 0;
                    }
                    p.box_p_4 {
                      padding: 0.5rem 0;
                      span.browsericon {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        margin-right: 5px;
                        opacity: 0;
                        transition: 0.3s;
                      }
                    }
                    p.box_p_5 {
                      font-size: 0;
                      padding-bottom: 0.5rem;
                      transition: 0.3s;
                    }
                  }
                  div:nth-child(2) {
                    transform: scaleX(0) scaleY(0);
                    width: 64%;
                    height: auto;
                  }
                }
                &.on {
                  width: 50%;
                  div.box {
                    padding: 2rem;
                    div:nth-child(1) {
                      width: 100%;

                      p.box_p_1 {
                        letter-spacing: 3px;
                      }

                      p.box_p_2 {
                        font-size: 1.5rem;
                        transform: translateX(0rem) translateY(0rem)
                          rotate(0deg);
                        transition: 1s;
                      }
                      p.box_p_3 {
                        font-size: 16px;
                        transition: 0.6s;
                      }
                      p.box_p_4 {
                        span.browsericon {
                          opacity: 1;
                          transition: 0.3s;
                        }
                      }
                      p.box_p_5 {
                        font-size: $BasicFont;
                        transition: 0.6s;
                      }
                    }
                    div:nth-child(2) {
                      transform: scaleX(1) scaleY(1);
                      width: 64%;
                    }
                  }
                }
                &:nth-of-type(3) {
                  border-left: 1px solid #ccc;
                }
                &:nth-of-type(5) {
                  border-left: 1px solid #ccc;
                }
              }
            }
          }
        }
      }
      &:nth-child(4) {
        padding: 10rem 2rem;
      }
    }
  }
}

@include rwd(959px) {
  main {
    .wm {
      display: none;
    }
    .section {
      &:nth-child(1) {
        .about {
          & > div {
            span {
              right: 20px;
            }
          }
          figure {
            max-width: 90%;
            div {
              float: none;
              width: 100%;
              height: 360px;
              img {
                width: 100%;
                height: auto;
              }
            }
            figcaption {
              float: none;
              width: 100%;
              p {
                padding: 2rem;
                font-size: $BasicFont;
                letter-spacing: -0.4px;
              }
            }
          }
        }
      }
      &:nth-child(2) {
        .work {
          .work_box {
            ul {
              li {
                height: 42vh;
                &.on {
                  div.box {
                    a {
                      width: 100%;
                    }
                    span {
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
        }
      }
      &:nth-child(3) {
        .portfolio {
          .portfolio_box {
            & > ul {
              & > li {
                height: 45vh;
                div.box {
                  div:nth-child(2) {
                    width: 100%;
                  }
                }
                &.on {
                  div.box {
                    div:nth-child(2) {
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
        }
      }
      &:nth-child(4) {
        .contact {
          width: 90%;
          .info_wrap {
            float: none;
            width: 500px;
            margin: 0 auto;
          }
          .email_wrap {
            width: 100%;
            padding: 4rem 2rem 0;
            h3 {
              padding-bottom: 1rem;
            }
          }
        }
      }
    }
  }
}

/* mobile */
@include rwd(539px) {
  main {
    .section {
      padding: 4rem 1rem 2rem;
      &:nth-child(1) {
        .about {
          & > div {
            span {
              right: 0;
              width: 50%;
              font-size: $BasicFont;
              letter-spacing: 0.3rem;
            }
          }
          figure {
            max-width: 100%;
            height: auto;
            div {
              height: 300px;
            }
            figcaption {
              p {
                padding: 1rem;
                text-align: left;
              }
            }
          }
        }
      }
      &:nth-child(2) {
      }
    }
  }

  #resume {
    width: 100%;
    height: 100%;
    top: 0;
    .resume_con {
      background-color: #ddd;
      padding: 1rem;
    }
    .resume_close {
      width: 40px;
      height: 40px;
      position: absolute;
      right: 0;
      top: 0;
      border: $border;
    }
  }
}
