@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Orbitron");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Anton");
@font-face {
  font-family: 'interbureau';
  font-style: normal;
  src: url("../font/interbureau.ttf") format("truetype");
}

/* reset */
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  outline: 1;
  text-decoration: none;
}

body, input {
  color: #333;
  font-size: 14px;
  font-family: "interbureau", "Noto Sans KR","Bree Serif",dotum,sans-serif;
}

.skip {
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
  line-height: 0;
  font-size: 0;
  position: absolute;
  left: -999px;
}

fieldset {
  border: none;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

html, body {
  overflow-x: hidden;
}

#skip_navi > li > a {
  display: block;
  position: fixed;
  top: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #171733;
  font-size: 16px;
  font-family: "noto sans KR";
  font-weight: 400;
  color: #fff;
  text-align: center;
  z-index: 5;
}

#skip_navi > li > a.on {
  top: 0;
}

header {
  width: 90%;
  height: 80px;
  position: fixed;
  top: 50px;
  left: 5%;
  z-index: 3;
  background: #fff;
  -webkit-transition: 1s;
  transition: 1s;
  border-bottom: 1px solid transparent;
}

header.on {
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  border: none;
  border-bottom: 1px solid #ddd;
}

header.on article > #web_menu > #gnb > li > div {
  background: #fff;
  border-bottom: 1px solid #eee;
}

header article {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header article h1 {
  position: absolute;
  left: 2%;
  top: 30px;
}

header article h1 a {
  font-size: 30px;
  line-height: 1;
  color: #666;
  display: block;
  width: 40px;
  height: 20px;
  font-size: 0;
  background: url(../img/default/logo.png);
  background-size: 100% 100%;
}

header article #web_menu {
  height: 100%;
}

header article #web_menu #gnb {
  float: right;
  height: 100%;
  margin-right: 20px;
  border-right: 1px solid #eee;
}

header article #web_menu #gnb > li {
  float: left;
}

header article #web_menu #gnb > li > a {
  display: inline-block;
  font-size: 20px;
  line-height: 1;
  font-weight: lighter;
  color: #666;
  padding: 29px 40px;
}

header article #web_menu #gnb > li > a:hover {
  background: #fff;
  color: #ca99c0;
}

header article #web_menu #gnb > li > a.on {
  background: #fff;
  color: #ca99c0;
  border-bottom: 2px solid #333;
}

header article #web_menu #gnb > li > div {
  width: 100%;
  height: 300px;
  background: rgba(249, 249, 249, 0.5);
  position: absolute;
  top: 80px;
  right: 0;
  display: none;
  z-index: 5;
}

header article #web_menu #gnb > li > div.on {
  display: block;
}

header article #web_menu #gnb > li > div .depth2_left {
  float: left;
  width: 24%;
}

header article #web_menu #gnb > li > div .depth2_left > h2 {
  font-size: 36px;
  margin: 80px 0 20px 20px;
}

header article #web_menu #gnb > li > div .depth2_left > h2::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 1px;
  background: #333;
  position: absolute;
  top: 70px;
}

header article #web_menu #gnb > li > div .depth2_left > p {
  margin: 0 0 0 20px;
  font-size: 14px;
}

header article #web_menu #gnb > li > div .depth2_right {
  float: left;
  width: 76%;
  padding-left: 20px;
}

header article #web_menu #gnb > li > div .depth2_right > h3 {
  font-size: 14px;
  font-weight: lighter;
  margin: 80px 0 20px 20px;
}

header article #web_menu #gnb > li > div .depth2_right > h3::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 1px;
  background: #333;
  position: absolute;
  top: 70px;
}

header article #web_menu #gnb > li > div .depth2_right > ul {
  width: 50%;
  position: absolute;
  top: 100px;
  right: 0;
}

header article #web_menu #gnb > li > div .depth2_right > ul li {
  float: left;
  width: 50%;
  text-align: center;
}

header article #web_menu #gnb > li > div .depth2_right > ul li a {
  display: block;
  width: 100%;
  line-height: 40px;
  font-size: 14px;
  font-family: "noto sans KR";
  color: #171733;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header article #web_menu #gnb > li > div .depth2_right > ul li a:hover {
  color: #ca99c0;
}

header article #web_menu #gnb > li > div .depth2_right > ul li a.on {
  color: #ca99c0;
}

header article #web_menu #gnb > li:nth-of-type(1) > div {
  z-index: 1;
}

header article #web_menu #gnb > li:nth-of-type(1) > div::after {
  background-image: url(../img/default/wrap.jpg);
  background-size: 100%;
  background-position: center center;
  opacity: 1 !important;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

header article #web_menu #gnb > li:nth-of-type(1) > div .depth2_left {
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

header article #web_menu #gnb > li:nth-of-type(1) > div .depth2_left > h2 {
  color: #fff;
}

header article #web_menu #gnb > li:nth-of-type(1) > div .depth2_left > h2::before {
  background: #fff;
}

header article #web_menu #gnb > li:nth-of-type(1) > div .depth2_left > p {
  color: #fff;
}

header article #web_menu #gnb > li:nth-of-type(1) > div .depth2_right {
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

header article #web_menu #gnb > li:nth-of-type(1) > div .depth2_right > h3 {
  color: #fff;
}

header article #web_menu #gnb > li:nth-of-type(1) > div .depth2_right > h3::before {
  background: #fff;
}

header article #web_menu #gnb > li:nth-of-type(1) > div .depth2_right > ul > li > a {
  color: #fff;
}

header article #web_menu #gnb > li:nth-of-type(1) > div .depth2_right > ul > li > a:hover {
  color: #ca99c0;
}

header article #web_menu #gnb > li:nth-of-type(2) > div > .depth2_right > div {
  width: 40%;
  height: 150px;
  float: left;
  margin: 0 10px 0 20px;
  background: url(../img/default/66013.png);
  background-size: contain;
}

header article #web_menu #gnb > li:nth-of-type(3) > div > .depth2_right > div:nth-of-type(1) {
  width: 220px;
  height: 150px;
  float: left;
  margin: 0 10px 0 20px;
  background: url(../img/default/event_1.png);
  background-size: 100% 100%;
}

header article #web_menu #gnb > li:nth-of-type(3) > div > .depth2_right > div:nth-of-type(2) {
  width: 100px;
  height: 150px;
  float: left;
  background: url(../img/default/event_2.png);
  background-size: 100% 100%;
}

header article #web_menu #gnb > li:nth-of-type(4) > div > .depth2_right > ul {
  width: 70%;
}

header article #web_menu #gnb > li:nth-of-type(4) > div > .depth2_right > ul > li {
  width: 25%;
}

header article #mo_menu {
  display: none;
}

header article #util {
  float: right;
  margin-right: 20px;
  padding-top: 32px;
}

header article #util li {
  float: left;
  width: 40px;
  text-align: center;
}

header article #util li:nth-of-type(2)::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 6px;
  background: #666;
  margin-right: 6px;
}

header article #util li a {
  font-size: 16px;
  color: #666;
}

/* tablet */
@media screen and (max-width: 959px) {
  header {
    top: 0;
    left: 0;
    width: 100%;
  }
  header article {
    margin: 0;
  }
  header article #web_menu {
    display: none;
  }
  header article #mo_menu {
    display: block;
  }
  header article #mo_menu .btn_call {
    position: absolute;
    bottom: 22px;
    right: 2%;
    width: 30px;
    height: 30px;
    display: inline-block;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  header article #mo_menu .btn_call.active-1 span:nth-of-type(1) {
    -webkit-transform: translateY(10px) rotate(-45deg);
            transform: translateY(10px) rotate(-45deg);
  }
  header article #mo_menu .btn_call.active-1 span:nth-of-type(2) {
    opacity: 0;
    margin-top: 0;
  }
  header article #mo_menu .btn_call.active-1 span:nth-of-type(3) {
    -webkit-transform: translateY(5px) rotate(45deg);
            transform: translateY(5px) rotate(45deg);
    margin-top: 1px;
  }
  header article #mo_menu .btn_call span {
    display: block;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    width: 30px;
    height: 2px;
    background: #444;
    border-radius: 2px;
  }
  header article #mo_menu .btn_call span:nth-of-type(2) {
    margin-top: 10px;
  }
  header article #mo_menu .btn_call span:nth-of-type(3) {
    margin-top: 10px;
  }
  header article #mo_menu #mo_panel {
    position: fixed;
    width: 280px;
    height: 100%;
    z-index: 6;
    background: rgba(0, 0, 0, 0.9);
    top: 0;
    left: -280px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    overflow-y: auto;
  }
  header article #mo_menu #mo_panel.on {
    left: 0;
  }
  header article #mo_menu #mo_panel .mo_wrapper .mo_upper {
    text-align: center;
    padding: 20px 0 50px;
  }
  header article #mo_menu #mo_panel .mo_wrapper .mo_upper .profile_photo {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 50px auto 0 auto;
    background-image: url(../img/default/profile.jpg);
    background-size: cover;
  }
  header article #mo_menu #mo_panel .mo_wrapper .mo_upper .profile_name {
    font-size: 28px;
    font-weight: 100;
    color: #fff;
    padding: 8px 0;
  }
  header article #mo_menu #mo_panel .mo_wrapper .mo_upper .profile_txt {
    display: inline-block;
    font-weight: 300;
    padding: 4px 3px 5px;
    border-bottom: 1px solid #888;
  }
  header article #mo_menu #mo_panel .mo_wrapper .mo_upper .profile_txt a {
    color: #888;
  }
  header article #mo_menu #mo_panel .mo_wrapper .mo_gnb {
    padding: 0 0 0 20px;
  }
  header article #mo_menu #mo_panel .mo_wrapper .mo_gnb > ul > li {
    padding: 20px 0;
    border-bottom: 1px solid #eee;
  }
  header article #mo_menu #mo_panel .mo_wrapper .mo_gnb > ul > li:after {
    content: "";
    display: block;
    clear: both;
  }
  header article #mo_menu #mo_panel .mo_wrapper .mo_gnb > ul > li a {
    float: left;
    width: 95%;
    display: block;
    color: #fff;
    font-size: 24px;
  }
  header article #mo_menu #mo_panel .mo_wrapper .mo_gnb > ul > li span {
    float: right;
    display: block;
    width: 5%;
    height: 20px;
  }
  header article #mo_menu #mo_panel .mo_wrapper .mo_gnb > ul > li ul.mo_sub {
    margin-top: 30px;
    display: none;
  }
  header article #mo_menu #mo_panel .mo_wrapper .mo_gnb > ul > li ul.mo_sub.show {
    display: block;
  }
  header article #mo_menu #mo_panel .mo_wrapper .mo_gnb > ul > li ul.mo_sub li a {
    padding: 10px 0 10px 10px;
    color: #888;
    font-size: 14px;
  }
  header article #mo_menu #mo_panel .mo_wrapper .mo_gnb > ul > li ul.mo_sub li a:hover {
    color: #ca99c0;
  }
  header article #mo_menu #mo_panel .mo_wrapper .mo_lower {
    padding: 50px 0 0 0;
  }
  header article #mo_menu #mo_panel .mo_wrapper .mo_lower ul:after {
    content: "";
    display: block;
    clear: both;
  }
  header article #mo_menu #mo_panel .mo_wrapper .mo_lower ul li {
    float: left;
    width: 25%;
    height: 100px;
  }
  header article #mo_menu #mo_panel .mo_wrapper .mo_lower ul li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 0 auto;
    font-size: 24px;
    color: #eee;
    text-align: center;
  }
  header article #util {
    margin-right: 70px;
  }
}

figure {
  width: 100%;
  position: relative;
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

figure .swiper-container {
  width: 100%;
  padding: 150px 0px 80px;
  background: #fff;
  position: relative;
}

figure .swiper-slide {
  width: 800px;
  height: 450px;
  overflow: hidden;
  border-radius: 16px;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.6;
}

figure .swiper-slide::after {
  content: '';
  display: block;
  width: 50%;
  height: 100%;
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
  top: 0px;
  left: -100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

figure .swiper-slide img {
  width: 250px;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 40px;
  left: 70px;
}

figure .swiper-slide .con {
  width: 350px;
  position: absolute;
  top: 50px;
  right: 70px;
}

figure .swiper-slide .con h2 {
  font: bold 28px/1 'Noto Sans KR';
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

figure .swiper-slide .con h3 {
  font: bold 16px/1 'Noto Sans KR';
  color: #fff;
  margin-bottom: 30px;
}

figure .swiper-slide .con .rate {
  margin-bottom: 40px;
}

figure .swiper-slide .con .rate > i {
  font-size: 20px;
  color: #fff;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  opacity: 0;
  -webkit-transform: scale(4);
          transform: scale(4);
}

figure .swiper-slide .con .rate > i:nth-of-type(1) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

figure .swiper-slide .con .rate > i:nth-of-type(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

figure .swiper-slide .con .rate > i:nth-of-type(3) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

figure .swiper-slide .con .rate > i:nth-of-type(4) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

figure .swiper-slide .con .rate > i:nth-of-type(5) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

figure .swiper-slide .con p {
  font: 12px/1.5 'Noto Sans KR';
  color: #fff;
  margin-bottom: 70px;
}

figure .swiper-slide .con a {
  display: block;
  width: 200px;
  height: 40px;
  background: #fff;
  border-radius: 20px;
  font: bold 14px/40px 'arial';
  color: #179cd1;
  text-align: center;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  cursor: pointer;
}

figure .swiper-slide .con a:hover {
  background: #179cd1;
  color: #fff;
  -webkit-box-shadow: 10px 10px 20px rgba(23, 156, 209, 0.7);
          box-shadow: 10px 10px 20px rgba(23, 156, 209, 0.7);
}

figure .swiper-slide.swiper-slide-active {
  opacity: 1;
}

figure .swiper-slide.swiper-slide-active::after {
  left: 80%;
}

figure .swiper-slide.swiper-slide-active .con > a {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

figure .swiper-slide.swiper-slide-active .con > .rate > i {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

figure .swiper-slide.slide1 {
  background: linear-gradient(20deg, #99d3fa, #bde2f7, #9dd6fc);
}

figure .swiper-slide.slide1 .con > .rate > i:nth-of-type(-n+3) {
  color: #179cd1;
}

figure .swiper-slide.slide1 .con > a {
  color: #179cd1;
}

figure .swiper-slide.slide1 .con > a:hover {
  background: #179cd1;
  color: #fff;
  -webkit-box-shadow: 10px 10px 20px rgba(23, 156, 209, 0.7);
          box-shadow: 10px 10px 20px rgba(23, 156, 209, 0.7);
}

figure .swiper-slide.slide2 {
  background: linear-gradient(20deg, #b6aaf5, #d1ccfc, #b6aaf5);
}

figure .swiper-slide.slide2 .con > .rate > i:nth-of-type(-n+2) {
  color: #8a78e6;
}

figure .swiper-slide.slide2 .con > a {
  color: #8a78e6;
}

figure .swiper-slide.slide2 .con > a:hover {
  background: #8a78e6;
  color: #fff;
  -webkit-box-shadow: 10px 10px 20px rgba(138, 120, 230, 0.7);
          box-shadow: 10px 10px 20px rgba(138, 120, 230, 0.7);
}

figure .swiper-slide.slide3 {
  background: linear-gradient(20deg, #f7a0af, #ffc9cd, #f7a0af);
}

figure .swiper-slide.slide3 .con > .rate > i:nth-of-type(-n+4) {
  color: #f87288;
}

figure .swiper-slide.slide3 .con > a {
  color: #f87288;
}

figure .swiper-slide.slide3 .con > a:hover {
  background: #f87288;
  color: #fff;
  -webkit-box-shadow: 10px 10px 20px rgba(248, 114, 136, 0.7);
          box-shadow: 10px 10px 20px rgba(248, 114, 136, 0.7);
}

figure .swiper-slide.slide4 {
  background: linear-gradient(20deg, #eee592, #eef1c2, #eee592);
}

figure .swiper-slide.slide4 .con > .rate > i:nth-of-type(-n+2) {
  color: #dbcc46;
}

figure .swiper-slide.slide4 .con > a {
  color: #dbcc46;
}

figure .swiper-slide.slide4 .con > a:hover {
  background: #dbcc46;
  color: #fff;
  -webkit-box-shadow: 10px 10px 20px rgba(219, 204, 70, 0.7);
          box-shadow: 10px 10px 20px rgba(219, 204, 70, 0.7);
}

figure .swiper-slide.slide5 {
  background: linear-gradient(20deg, #72e4a2, #96e9c2, #7dd4a1);
}

figure .swiper-slide.slide5 .con > .rate > i:nth-of-type(-n+5) {
  color: #32af66;
}

figure .swiper-slide.slide5 .con > a {
  color: #32af66;
}

figure .swiper-slide.slide5 .con > a:hover {
  background: #32af66;
  color: #fff;
  -webkit-box-shadow: 10px 10px 20px #32af66;
          box-shadow: 10px 10px 20px #32af66;
}

figure .swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.1)));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
}

figure .swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

/*tablet */
@media screen and (max-width: 830px) {
  figure .swiper-container {
    padding: 80px 0px 80px;
  }
  figure .swiper-slide {
    width: 100%;
    height: 360px;
    border-radius: 0px;
  }
  figure .swiper-slide img {
    width: 30%;
    top: 10%;
    left: 5%;
  }
  figure .swiper-slide .con {
    width: 55%;
    right: 3%;
    top: 10%;
  }
  figure .swiper-slide .con h2 {
    font: bold 24px/1 'Noto Sans KR';
    margin-bottom: 10px;
  }
  figure .swiper-slide .con h3 {
    font: bold 14px/1 'Noto Sans KR';
    margin-bottom: 20px;
  }
  figure .swiper-slide .con .rate {
    margin-bottom: 20px;
  }
  figure .swiper-slide .con .rate > i {
    font-size: 12px;
  }
  figure .swiper-slide .con p {
    margin-bottom: 40px;
  }
  figure .swiper-slide .con a {
    width: 160px;
    height: 30px;
    border-radius: 15px;
    font: bold 11px/30px 'arial';
  }
}

/* mobile */
@media screen and (max-width: 539px) {
  figure .swiper-slide {
    height: 340px;
  }
  figure .swiper-slide .con h2 {
    font: bold 16px/1 'Noto Sans KR';
  }
  figure .swiper-slide .con h3 {
    font: bold 12px/1 'Noto Sans KR';
  }
  figure .swiper-slide .con p {
    margin-bottom: 20px;
    font-size: 12px;
  }
}

#banner {
  width: 100%;
  overflow: hidden;
  padding: 100px 0px;
}

#banner ul {
  width: 2400px;
}

#banner ul::after {
  content: '';
  display: block;
  clear: both;
}

#banner ul li {
  width: 240px;
  height: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  padding: 0px 14px;
  /*
            .item1 {
                .pic {background-image:url(../img/contents_booklist/list_2_1.jpg);}
            } 
            .item2 {
                .pic {background-image:url(../img/contents_booklist/list_2_2.jpg);}
            }
            .item3 {
                .pic {background-image:url(../img/contents_booklist/list_2_3.jpg);}
            }
            .item4 {
                .pic {background-image:url(../img/contents_booklist/list_2_4.jpg);}
            }
            .item5 {
                .pic {background-image:url(../img/contents_booklist/list_2_5.jpg);}
            }
            .item6 {
                .pic {background-image:url(../img/contents_booklist/list_3_1.jpg);}
            }
            .item7 {
                .pic {background-image:url(../img/contents_booklist/list_3_6.jpg);}
            }
            .item8 {
                .pic {background-image:url(../img/contents_booklist/list_4_2.jpg);}
            }
            .item9 {
                .pic {background-image:url(../img/contents_booklist/list_3_4.jpg);}
            }
            .item10 {
                .pic {background-image:url(../img/contents_booklist/list_4_6.jpg);}
            }
            */
}

#banner ul li .item {
  width: 100%;
  height: 300px;
  background: #fff;
  -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 20px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.8;
}

#banner ul li .item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
}

#banner ul li .item h2 {
  font: 30px/1 'anton';
  color: #777;
  margin-bottom: 50px;
}

#banner ul li .item h2::after {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background: orangered;
  margin-top: 10px;
}

#banner ul li .item h3 {
  font: bold 12px/1 'arial';
  color: #888;
  margin-bottom: 5px;
}

#banner ul li .item p {
  font: 10px/1 'Noto Sans KR';
  color: #bbb;
  margin-bottom: 20px;
}

#banner ul li .item .pic {
  width: 100%;
  height: 100px;
  border-radius: 5px 5px 0 0;
  background-size: 100% auto;
  background-position: top center;
}

#banner ul li .item1 .pic {
  background-image: url(../img/contents_booklist/list_2_1.jpg);
}

#banner ul li .item2 .pic {
  background-image: url(../img/contents_booklist/list_2_2.jpg);
}

#banner ul li .item3 .pic {
  background-image: url(../img/contents_booklist/list_2_3.jpg);
}

#banner ul li .item4 .pic {
  background-image: url(../img/contents_booklist/list_2_4.jpg);
}

#banner ul li .item5 .pic {
  background-image: url(../img/contents_booklist/list_2_5.jpg);
}

#banner ul li .item6 .pic {
  background-image: url(../img/contents_booklist/list_3_1.jpg);
}

#banner ul li .item7 .pic {
  background-image: url(../img/contents_booklist/list_3_6.jpg);
}

#banner ul li .item8 .pic {
  background-image: url(../img/contents_booklist/list_4_2.jpg);
}

#banner ul li .item9 .pic {
  background-image: url(../img/contents_booklist/list_3_4.jpg);
}

#banner ul li .item10 .pic {
  background-image: url(../img/contents_booklist/list_4_6.jpg);
}

/* tablet */
/* mobile */
/*common*/
section {
  width: 100%;
  position: relative;
  padding: 200px 0;
  z-index: 2;
}

section article {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

section article > h2 {
  font-size: 50px;
  font-weight: 200;
  color: #555;
  text-align: center;
  padding: 0 0 50px;
  margin-bottom: 50px;
}

#vertical_navi {
  position: fixed;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 7;
}

#vertical_navi li {
  margin-bottom: 10px;
}

#vertical_navi li a {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #111;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#vertical_navi li span {
  display: none;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#vertical_navi li.on > a {
  height: 40px;
  background: #000;
}

#vertical_navi li.on > span {
  display: inline-block;
  color: #460146;
  font-size: 16px;
  font-weight: 100;
}

#book_list {
  background: #fff;
  padding: 0px 0px 50px;
}

#book_list::after {
  content: '';
  display: block;
  clear: both;
}

#book_list article {
  width: 940px;
  margin: 0 auto;
}

#book_list article::after {
  content: '';
  display: block;
  clear: both;
}

#book_list article .book_title {
  width: 100%;
  height: 100px;
  float: left;
  position: relative;
  padding-top: 64px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

#book_list article .book_title ul {
  position: relative;
}

#book_list article .book_title ul li {
  font-size: 30px;
  line-height: 1;
  color: #555;
  padding: 0 10px;
  cursor: pointer;
  border-bottom: 2px solid rgba(85, 85, 85, 0);
  -webkit-transition: 1s;
  transition: 1s;
  float: left;
  width: 25%;
  text-align: center;
}

#book_list article .book_title ul li.active {
  border-bottom: 2px solid #555;
  color: #ca99c0;
}

#book_list article .book_info {
  width: 100%;
  height: 800px;
  float: left;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

#book_list article .book_info .tab {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 100px 0 0;
  -webkit-transition: 1s;
  transition: 1s;
}

#book_list article .book_info .tab h2 {
  font-size: 50px;
  line-height: 1;
  color: #555;
  margin-bottom: 60px;
  -webkit-transition: 1s 0s;
  transition: 1s 0s;
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  text-align: center;
}

#book_list article .book_info .tab > ul > li {
  float: left;
  width: 33.33333%;
  height: 300px;
  padding: 20px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#book_list article .book_info .tab > ul > li a {
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid #fff;
}

#book_list article .book_info .tab > ul > li a > div.tab_thumbnail {
  float: left;
  width: 36%;
  height: 150px;
  margin: -20px 20px 10px 20px;
  background-size: 100% 100%;
  -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

#book_list article .book_info .tab > ul > li a > p.tab_title {
  float: left;
  width: 45%;
  padding: 30px 0 10px;
  color: #666;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#book_list article .book_info .tab > ul > li a > span {
  display: block;
  font-family: "noto sans KR";
  color: #666;
  font-size: 12px;
  padding-right: 20px;
  width: 100%;
}

#book_list article .book_info .tab > ul > li a > span b {
  color: #666;
}

#book_list article .book_info .tab > ul > li a > p.tab_txt {
  color: #888;
  font-size: 12px;
  padding: 70px 20px 0 20px;
  font-family: "noto sans KR";
}

#book_list article .book_info .tab > ul > li:nth-of-type(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

#book_list article .book_info .tab > ul > li:nth-of-type(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#book_list article .book_info .tab > ul > li:nth-of-type(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

#book_list article .book_info .tab > ul > li:nth-of-type(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

#book_list article .book_info .tab > ul > li:nth-of-type(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

#book_list article .book_info .tab > ul > li:nth-of-type(6) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

#book_list article .book_info .tab.tab1 > ul > li:nth-of-type(1) a > div.tab_thumbnail {
  background-image: url(../img/contents_booklist/list_1_1.jpg);
}

#book_list article .book_info .tab.tab1 > ul > li:nth-of-type(2) a > div.tab_thumbnail {
  background-image: url(../img/contents_booklist/list_1_2.jpg);
}

#book_list article .book_info .tab.tab1 > ul > li:nth-of-type(3) a > div.tab_thumbnail {
  background-image: url(../img/contents_booklist/list_1_3.jpg);
}

#book_list article .book_info .tab.tab1 > ul > li:nth-of-type(4) a > div.tab_thumbnail {
  background-image: url(../img/contents_booklist/list_1_4.jpg);
}

#book_list article .book_info .tab.tab1 > ul > li:nth-of-type(5) a > div.tab_thumbnail {
  background-image: url(../img/contents_booklist/list_1_5.jpg);
}

#book_list article .book_info .tab.tab1 > ul > li:nth-of-type(6) a > div.tab_thumbnail {
  background-image: url(../img/contents_booklist/list_1_6.jpg);
}

#book_list article .book_info .tab.tab2 > ul > li:nth-of-type(1) a > div.tab_thumbnail {
  background-image: url(../img/contents_booklist/list_2_1.jpg);
}

#book_list article .book_info .tab.tab2 > ul > li:nth-of-type(2) a > div.tab_thumbnail {
  background-image: url(../img/contents_booklist/list_2_2.jpg);
}

#book_list article .book_info .tab.tab2 > ul > li:nth-of-type(3) a > div.tab_thumbnail {
  background-image: url(../img/contents_booklist/list_2_3.jpg);
}

#book_list article .book_info .tab.tab2 > ul > li:nth-of-type(4) a > div.tab_thumbnail {
  background-image: url(../img/contents_booklist/list_2_4.jpg);
}

#book_list article .book_info .tab.tab2 > ul > li:nth-of-type(5) a > div.tab_thumbnail {
  background-image: url(../img/contents_booklist/list_2_5.jpg);
}

#book_list article .book_info .tab.tab2 > ul > li:nth-of-type(6) a > div.tab_thumbnail {
  background-image: url(../img/contents_booklist/list_2_6.jpg);
}

#book_list article .book_info .tab.tab3 > ul > li:nth-of-type(1) a > div.tab_thumbnail {
  background-image: url(../img/contents_booklist/list_3_1.jpg);
}

#book_list article .book_info .tab.tab3 > ul > li:nth-of-type(2) a > div.tab_thumbnail {
  background-image: url(../img/contents_booklist/list_3_2.jpg);
}

#book_list article .book_info .tab.tab3 > ul > li:nth-of-type(3) a > div.tab_thumbnail {
  background-image: url(../img/contents_booklist/list_3_3.jpg);
}

#book_list article .book_info .tab.tab3 > ul > li:nth-of-type(4) a > div.tab_thumbnail {
  background-image: url(../img/contents_booklist/list_3_4.jpg);
}

#book_list article .book_info .tab.tab3 > ul > li:nth-of-type(5) a > div.tab_thumbnail {
  background-image: url(../img/contents_booklist/list_3_5.jpg);
}

#book_list article .book_info .tab.tab3 > ul > li:nth-of-type(6) a > div.tab_thumbnail {
  background-image: url(../img/contents_booklist/list_3_6.jpg);
}

#book_list article .book_info .tab.tab4 > ul > li:nth-of-type(1) a > div.tab_thumbnail {
  background-image: url(../img/contents_booklist/list_4_1.jpg);
}

#book_list article .book_info .tab.tab4 > ul > li:nth-of-type(2) a > div.tab_thumbnail {
  background-image: url(../img/contents_booklist/list_4_2.jpg);
}

#book_list article .book_info .tab.tab4 > ul > li:nth-of-type(3) a > div.tab_thumbnail {
  background-image: url(../img/contents_booklist/list_4_3.jpg);
}

#book_list article .book_info .tab.tab4 > ul > li:nth-of-type(4) a > div.tab_thumbnail {
  background-image: url(../img/contents_booklist/list_4_4.jpg);
}

#book_list article .book_info .tab.tab4 > ul > li:nth-of-type(5) a > div.tab_thumbnail {
  background-image: url(../img/contents_booklist/list_4_5.jpg);
}

#book_list article .book_info .tab.tab4 > ul > li:nth-of-type(6) a > div.tab_thumbnail {
  background-image: url(../img/contents_booklist/list_4_6.jpg);
}

#book_list article .book_info .tab.active {
  opacity: 1;
  z-index: 3;
}

#book_list article .book_info .tab.active h2 {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#book_list article .book_info .tab.active > ul > li {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#book_list article .book_info .tab.active > ul > li a:hover {
  border: 1px solid #000;
}

#book_list.on article .book_title {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

#book_list.on article .book_info {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

/*tablet*/
@media screen and (max-width: 959px) {
  #book_list article {
    width: 100%;
  }
  #book_list article .book_title {
    width: 100%;
    height: 100px;
    padding-top: 0;
  }
  #book_list article .book_title ul li {
    font-size: 20px;
    padding-left: 2%;
    margin-bottom: 5px;
  }
  #book_list article .book_info {
    height: 1000px;
  }
  #book_list article .book_info .tab {
    padding: 2% 2%;
  }
  #book_list article .book_info .tab > ul > li {
    width: 50%;
  }
  #book_list article .book_info .tab > ul > li a > div.tab_thumbnail {
    height: 200px;
  }
  #book_list article .book_info .tab > ul > li a > p.tab_title {
    width: 47%;
  }
  #book_list article .book_info .tab > ul > li a > p.tab_txt {
    padding: 20px 20px 0 20px;
  }
}

/*mobile*/
@media screen and (max-width: 800px) {
  #book_list article .book_info .tab > ul > li a > div.tab_thumbnail {
    width: 25%;
    height: 120px;
  }
  #book_list article .book_info .tab > ul > li a > p.tab_title {
    width: 55%;
  }
}

/*mobile*/
@media screen and (max-width: 539px) {
  #book_list article .book_title {
    margin-bottom: 120px;
  }
  #book_list article .book_title ul li {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
  }
  #book_list article .book_info .tab > h2 {
    display: none;
  }
  #book_list article .book_info .tab > ul > li {
    width: 100%;
  }
  #book_list article .book_info .tab > ul > li a > div.tab_thumbnail {
    width: 36%;
    height: 220px;
  }
  #book_list article .book_info .tab > ul > li a > p.tab_title {
    width: 50%;
  }
  #book_list article .book_info .tab > ul > li:nth-of-type(4) {
    display: none;
  }
  #book_list article .book_info .tab > ul > li:nth-of-type(5) {
    display: none;
  }
  #book_list article .book_info .tab > ul > li:nth-of-type(6) {
    display: none;
  }
}

/*mobile*/
@media screen and (max-width: 400px) {
  #book_list article .book_info .tab > ul > li a > div.tab_thumbnail {
    width: 28%;
    height: 150px;
  }
  #book_list article .book_info .tab > ul > li a > p.tab_title {
    width: 50%;
  }
}

#search {
  background: #fff;
}

#search article > div.search_title_wrap {
  width: 40%;
}

#search article > div.search_title_wrap .search_title {
  font-size: 160px;
  padding: 10px 0 0 0;
  line-height: 0.8;
  color: #000;
}

#search article > div.search_title_wrap .search_txt {
  font-size: 16px;
}

#search article > div.search_wrap {
  width: 76%;
  position: absolute;
  bottom: 10px;
  right: 0;
}

#search article > div.search_wrap #search_bar {
  width: 200%;
  height: 100px;
  line-height: 100px;
  font-size: 70px;
  border: none;
  border-bottom: 2px solid #333;
  padding: 0 0 0 60px;
  background: transparent;
  -webkit-transition: 1.2s;
  transition: 1.2s;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

#search article > div.search_wrap #search_bar::-webkit-input-placeholder {
  color: rgba(97, 3, 97, 0.2);
  font-size: 24px;
}

#search article > div.search_wrap #search_bar:-ms-input-placeholder {
  color: rgba(97, 3, 97, 0.2);
  font-size: 24px;
}

#search article > div.search_wrap #search_bar::-ms-input-placeholder {
  color: rgba(97, 3, 97, 0.2);
  font-size: 24px;
}

#search article > div.search_wrap #search_bar::placeholder {
  color: rgba(97, 3, 97, 0.2);
  font-size: 24px;
}

#search article > div.search_wrap .search_btn {
  width: 28%;
  margin-left: 1%;
  border: none;
  height: 200px;
  line-height: 200px;
  vertical-align: bottom;
  color: #fff;
  font-size: 40px;
  font-weight: 300;
  position: absolute;
  right: -100%;
  bottom: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-box-shadow: 3px 3px #666;
          box-shadow: 3px 3px #666;
}

#search article > div.search_wrap .search_btn > div.btn_box {
  width: 100%;
  height: 100%;
  background: #000;
}

#search article > div.search_wrap .search_btn > div.btn_box .top {
  width: 0%;
  height: 1px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #000;
}

#search article > div.search_wrap .search_btn > div.btn_box .right {
  width: 1px;
  height: 0%;
  position: absolute;
  top: 0px;
  right: 0px;
  background: #000;
}

#search article > div.search_wrap .search_btn > div.btn_box .bottom {
  width: 0%;
  height: 1px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: #000;
}

#search article > div.search_wrap .search_btn > div.btn_box .left {
  width: 1px;
  height: 0%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: #000;
}

#search article > div.search_wrap .search_btn > div.btn_box > i {
  display: none;
  line-height: 200px;
  -webkit-transition: 3s;
  transition: 3s;
}

#search.on article > div.search_wrap #search_bar {
  width: 70%;
}

#search.on article > div.search_wrap .search_btn {
  right: 0;
}

#search.on article > div.search_wrap .search_btn > div.btn_box > i {
  display: block;
  color: #fff;
}

/* tablet */
@media screen and (max-width: 959px) {
  #search {
    height: 350px;
  }
  #search article > div.search_title_wrap {
    width: 55%;
  }
  #search article > div.search_title_wrap .search_title {
    font-size: 70px;
  }
  #search article > div.search_title_wrap .search_txt {
    font-size: 16px;
  }
  #search article > div.search_wrap {
    width: 100%;
    top: 100px;
  }
  #search article > div.search_wrap #search_bar {
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    padding: 0 0 0 10px;
  }
  #search article > div.search_wrap #search_bar::-webkit-input-placeholder {
    font-size: 16px;
  }
  #search article > div.search_wrap #search_bar:-ms-input-placeholder {
    font-size: 16px;
  }
  #search article > div.search_wrap #search_bar::-ms-input-placeholder {
    font-size: 16px;
  }
  #search article > div.search_wrap #search_bar::placeholder {
    font-size: 16px;
  }
  #search article > div.search_wrap .search_btn {
    font-size: 30px;
    width: 13%;
    height: 100px;
    line-height: 100px;
    bottom: -50px;
  }
  #search article > div.search_wrap .search_btn > div.btn_box > i {
    line-height: 100px;
  }
  #search.on article > div.search_wrap #search_bar {
    width: 85%;
  }
}

/* mobile */
@media screen and (max-width: 539px) {
  #search {
    height: 240px;
    padding: 0 2% 80px 2%;
  }
  #search article::after {
    display: none;
  }
  #search article > div.search_title_wrap {
    width: 100%;
    position: absolute;
    top: 20px;
  }
  #search article > div.search_title_wrap .search_title {
    font-size: 60px;
  }
  #search article > div.search_wrap {
    height: 120px;
  }
  #search article > div.search_wrap #search_bar {
    font-size: 11px;
  }
  #search article > div.search_wrap .search_btn {
    width: 15%;
    font-size: 24px;
    bottom: 70px;
  }
  #search.on article > div.search_wrap #search_bar {
    width: 80%;
  }
}

#icon {
  background: #e2e5f1;
  padding: 120px 0 200px 0;
}

#icon article h2.icon_title {
  padding: 0;
}

#icon article ul::after {
  content: "";
  display: block;
  clear: both;
}

#icon article ul li {
  float: left;
  width: 16.66667%;
  padding-top: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
}

#icon article ul li > div {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  position: relative;
}

#icon article ul li > div > a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  border: 1px solid #755d75;
  font-size: 30px;
  line-height: 90px;
  color: #755d75;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#icon article ul li p {
  color: #444;
  text-align: center;
  margin-top: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#icon article ul li:hover > div::before {
  opacity: 0;
  -webkit-transform: scale(2);
          transform: scale(2);
}

#icon article ul li:hover > div > a {
  background: #2e282d;
  color: #e2e5f1;
  border: none;
  -webkit-box-shadow: 5px 5px 20px rgba(146, 137, 143, 0.5);
          box-shadow: 5px 5px 20px rgba(146, 137, 143, 0.5);
  top: -5px;
}

#icon article ul li:hover p {
  color: #755d75;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  font-weight: 500;
}

#icon article ul li:nth-of-type(1) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#icon article ul li:nth-of-type(2) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

#icon article ul li:nth-of-type(3) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

#icon article ul li:nth-of-type(4) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

#icon article ul li:nth-of-type(5) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

#icon article ul li:nth-of-type(6) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

#icon.on ul li {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

/* tablet */
@media screen and (max-width: 959px) {
  #icon article ul li {
    width: 33.33333%;
    margin-bottom: 20px;
  }
  #icon.on > div.decobg1 {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    right: 0;
    opacity: 0.3;
  }
}

/* mobile */
@media screen and (max-width: 539px) {
  #icon {
    padding: 50px 0;
  }
  #icon article h2.icon_title::before {
    width: 20%;
    position: absolute;
    top: 10px;
  }
  #icon article h2.icon_title::after {
    width: 20%;
    top: 10px;
  }
  #icon article ul li {
    width: 50%;
  }
}

#box article::after {
  content: "";
  display: block;
  clear: both;
}

#box article > div.box_left {
  float: left;
  width: 49%;
  margin-right: 1%;
  border: 1px solid #eee;
  background: #fff;
  -webkit-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.04);
          box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.04);
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 1s;
  transition: 1s;
}

#box article > div.box_left a {
  display: block;
  width: 100%;
  height: 190px;
}

#box article > div.box_left a > div.box_thumbnail {
  width: 100%;
  height: 100%;
  background-image: url(../img/contents_box/book_new.jpg);
  background-size: cover;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#box article > div.box_left a > div.box_thumbnail:hover {
  -webkit-transform: scale(0.98, 0.95);
          transform: scale(0.98, 0.95);
}

#box article > div.box_left div {
  padding: 5px 0 0 10px;
  height: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#box article > div.box_left div > span {
  font-family: "noto sans KR";
  font-size: 11px;
}

#box article > div.box_left div p.box_title {
  padding: 5px 0;
  font-size: 16px;
}

#box article > div.box_right {
  float: left;
  width: 50%;
  background: #fff;
  -webkit-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.04);
          box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.04);
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

#box article > div.box_right li {
  width: 100%;
  height: 90px;
  margin-top: 5px;
  border: 1px solid #eee;
  background: #fff;
  -webkit-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.04);
          box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.04);
}

#box article > div.box_right li:nth-of-type(1) {
  margin-top: 0;
}

#box article > div.box_right li:nth-of-type(1) > a > div.box_thumbnail {
  background-image: url(../img/contents_box/book_best1.jpg);
}

#box article > div.box_right li:nth-of-type(2) > a > div.box_thumbnail {
  background-image: url(../img/contents_box/book_best2.jpg);
}

#box article > div.box_right li:nth-of-type(3) > a > div.box_thumbnail {
  background-image: url(../img/contents_box/book_best3.jpg);
}

#box article > div.box_right li::after {
  content: "";
  display: block;
  clear: both;
}

#box article > div.box_right li a {
  float: left;
  display: block;
  width: 40%;
  height: 90px;
}

#box article > div.box_right li a > div.box_thumbnail {
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

#box article > div.box_right li a > div.box_thumbnail:hover {
  -webkit-transform: scale(0.98, 0.95);
          transform: scale(0.98, 0.95);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

#box article > div.box_right li div {
  float: left;
  display: block;
  width: 60%;
  height: 90px;
  padding: 5px 2px 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#box article > div.box_right li div > span {
  font-family: "noto sans KR";
  font-size: 11px;
}

#box article > div.box_right li div p.box_title {
  padding: 5px 0;
  font-size: 16px;
  font-weight: 400;
}

#box.on article > div.box_left {
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

#box.on article > div.box_right {
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

/* tablet */
@media screen and (max-width: 959px) {
  #box article > div.box_left div p.box_title {
    font-size: 12px;
  }
  #box article > div.box_right li div p.box_title {
    font-size: 12px;
  }
}

/* mobile */
@media screen and (max-width: 539px) {
  #box article > div.box_left {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 5px;
  }
  #box article > div.box_right {
    float: none;
    width: 100%;
  }
}

#notice {
  background: #e2e5f1;
}

#notice article > ul {
  margin-top: 30px;
}

#notice article > ul::after {
  content: "";
  display: block;
  clear: both;
}

#notice article > ul > li {
  float: left;
  width: 300px;
  margin-right: 20px;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
}

#notice article > ul > li:nth-of-type(1) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#notice article > ul > li:nth-of-type(2) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

#notice article > ul > li:nth-of-type(3) {
  margin-right: 0;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

#notice article > ul > li:nth-of-type(3)::after {
  display: none;
}

#notice article > ul > li::after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background: #eee;
  position: absolute;
  right: -10px;
  top: 0;
}

#notice article > ul > li h3 {
  font-size: 30px;
  font-weight: lighter;
  padding: 0 0 10px 5px;
  border-bottom: 1px solid #eee;
}

#notice article > ul > li div {
  height: 200px;
  margin-top: 20px;
  padding-top: 10px;
}

#notice article > ul > li div > ul > li {
  padding: 5px 0;
}

#notice article > ul > li div > ul > li a {
  display: block;
  width: 100%;
  font-size: 12px;
  font-family: "noto sans KR";
  color: #333;
  padding: 0 5px;
}

#notice article > ul > li div > ul > li a > span.notice_txt {
  display: inline-block;
  width: 75%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#notice article > ul > li div > ul > li a > span.notice_date {
  display: inline-block;
  width: 25%;
  height: 100%;
  color: #666;
  text-align: right;
  vertical-align: top;
}

#notice article > ul > li div > ul > li a:hover {
  font-weight: bold;
}

#notice article > ul > li span.more {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-image: url(../img/default/more.png);
  background-size: contain;
}

#notice article > ul > li span.more > a {
  display: block;
  width: 100%;
  height: 100%;
}

#notice.on article > ul > li {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

/* tablet */
@media screen and (max-width: 959px) {
  #notice {
    padding: 100px 0;
  }
  #notice article > ul {
    padding: 0 2%;
  }
  #notice article > ul::after {
    content: "";
    display: block;
    clear: both;
  }
  #notice article > ul > li {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  #notice article > ul > li::after {
    display: none;
  }
}

/* mobile */
@media screen and (max-width: 539px) {
  #notice article ul li h3 {
    font-size: 24px;
  }
}

#info {
  padding: 0 0 160px 0;
}

#info::after {
  content: "";
  display: block;
  clear: both;
}

#info article {
  float: left;
  width: 50%;
  height: 160px;
  position: relative;
}

#info article:nth-of-type(1) > div {
  background-image: url(../img/contents_info/info_2.jpg);
}

#info article:nth-of-type(2) > div {
  background-image: url(../img/contents_info/info_1.jpg);
}

#info article > div {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
}

#info article > div > a {
  display: block;
  width: 100%;
  height: 100%;
}

#info article > div > a h3 {
  font-size: 30px;
  font-weight: lighter;
  padding: 40px 0 5px 8%;
  color: #333;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

#info article > div > a span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 8%;
  font-size: 16px;
  color: #755d75;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

#info article > div:hover > a h3 {
  padding: 40px 0 5px 12%;
}

#info article > div:hover > a span {
  margin-left: 12%;
}

/* tablet */
@media screen and (max-width: 959px) {
  #info {
    padding: 0 0 40px;
  }
  #info article > div > a > h3 {
    font-size: 24px;
  }
}

/* mobile */
@media screen and (max-width: 539px) {
  #info article {
    float: none;
    width: 100%;
  }
  #info article > div h3 {
    font-size: 12px;
  }
}

#insta {
  background: #fff;
}

#insta article {
  width: 100%;
}

#insta article ul::after {
  content: "";
  display: block;
  clear: both;
}

#insta article ul li {
  float: left;
  height: 200px;
  position: relative;
  -webkit-filter: grayscale(0.8);
          filter: grayscale(0.8);
  border: 6px solid #fff;
  -webkit-transition: 1s 0.3s;
  transition: 1s 0.3s;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

#insta article ul li a {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

#insta article ul li a::after {
  content: 'GO';
  font-size: 50px;
  line-height: 200px;
  color: #fff;
}

#insta article ul li:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

#insta article ul li:hover a {
  opacity: 1;
}

#insta article ul li:nth-of-type(1) {
  width: 30%;
}

#insta article ul li:nth-of-type(2) {
  width: 15%;
}

#insta article ul li:nth-of-type(3) {
  width: 20%;
}

#insta article ul li:nth-of-type(4) {
  width: 20%;
}

#insta article ul li:nth-of-type(5) {
  width: 15%;
}

#insta article ul li:nth-of-type(6) {
  width: 15%;
}

#insta article ul li:nth-of-type(7) {
  width: 20%;
}

#insta article ul li:nth-of-type(8) {
  width: 20%;
}

#insta article ul li:nth-of-type(9) {
  width: 15%;
}

#insta article ul li:nth-of-type(10) {
  width: 30%;
}

#insta.on article ul li {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

/* tablet */
@media screen and (max-width: 959px) {
  #insta article {
    width: 100%;
  }
  #insta article ul li {
    width: 20%;
    border: 2px solid #fff;
  }
}

/* mobile */
@media screen and (max-width: 539px) {
  #insta article ul li {
    border: 1px solid #fff;
  }
  #insta article ul li:nth-of-type(1) {
    width: 50%;
  }
  #insta article ul li:nth-of-type(2) {
    width: 50%;
  }
  #insta article ul li:nth-of-type(3) {
    width: 50%;
  }
  #insta article ul li:nth-of-type(4) {
    width: 50%;
  }
  #insta article ul li:nth-of-type(5) {
    width: 50%;
  }
  #insta article ul li:nth-of-type(6) {
    width: 50%;
  }
  #insta article ul li:nth-of-type(7) {
    width: 50%;
  }
  #insta article ul li:nth-of-type(8) {
    width: 50%;
  }
  #insta article ul li:nth-of-type(9) {
    width: 50%;
  }
  #insta article ul li:nth-of-type(10) {
    width: 50%;
  }
}

#map {
  padding: 50px 0 0 0;
}

#map article {
  width: 100%;
}

#map article #map_wrap {
  width: 100%;
  height: 500px;
  background: #000;
  -webkit-filter: grayscale(0.9);
          filter: grayscale(0.9);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#map article #map_wrap:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

/* tablet */
@media screen and (max-width: 959px) {
  #map {
    padding: 50px 2% 2%;
  }
  #map article #map_wrap {
    height: 400px;
  }
}

/* mobile */
/* tablet */
@media screen and (max-width: 959px) {
  /*common*/
  section {
    padding: 80px 2%;
  }
  section article {
    width: 100%;
  }
  section article > h2 {
    font-size: 24px;
  }
  #vertical_navi {
    display: none;
  }
}

/* mobile */
footer {
  width: 100%;
  background: #333;
  position: relative;
  z-index: 2;
  font-family: "noto sans KR";
  height: 240px;
}

footer article {
  width: 940px;
  margin: 0 auto;
  height: 240px;
}

footer article::after {
  content: "";
  display: block;
  clear: both;
}

footer article > div.ft_left {
  float: left;
  width: 80%;
  padding-top: 50px;
  height: 240px;
}

footer article > div.ft_left h3 > div {
  font-size: 0;
  width: 40px;
  height: 20px;
  background: url(../img/default/ftlogo.png);
  background-size: 100% 100%;
}

footer article > div.ft_left ul::after {
  content: '';
  display: block;
  clear: both;
}

footer article > div.ft_left ul li {
  float: left;
  width: 20%;
  padding: 20px 0;
  font-size: 12px;
}

footer article > div.ft_left ul li > a {
  color: #666;
  font-weight: 100;
}

footer article > div.ft_left address {
  color: #666;
  font-style: normal;
  font-size: 12px;
  font-weight: 100;
}

footer article > div.ft_left p {
  color: #666;
  font-size: 12px;
  font-weight: 100;
  padding-top: 10px;
}

footer article > div.ft_right {
  float: left;
  width: 20%;
  position: relative;
  height: 240px;
}

footer article > div.ft_right div.back_to_top {
  display: inline-block;
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  background: #000;
  text-align: center;
  font-size: 24px;
  color: #eee;
  cursor: pointer;
}

footer article > div.ft_right div.sns_wrap {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 40px;
  text-align: right;
  padding-top: 40px;
}

footer article > div.ft_right div.sns_wrap span {
  display: inline-block;
  width: 33.33333%;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-left: 10px;
  color: #666;
  font-size: 20px;
}

/* tablet */
@media screen and (max-width: 959px) {
  footer {
    height: 300px;
  }
  footer article {
    width: 100%;
    padding: 0 2%;
    height: 300px;
  }
  footer article > div.ft_left {
    width: 100%;
    position: absolute;
    top: 60px;
  }
  footer article > div.ft_left address {
    padding: 0 2% 0 0;
  }
  footer article > div.ft_left address a {
    text-decoration: none;
    color: #eee;
  }
  footer article > div.ft_right {
    width: 100%;
    position: absolute;
    top: 0;
    right: 5%;
  }
}

/* mobile */
@media screen and (max-width: 539px) {
  footer {
    height: 360px;
  }
  footer article {
    height: 360px;
  }
  footer article > div.ft_left ul {
    padding: 10px 0;
  }
  footer article > div.ft_left ul li {
    width: 50%;
    font-size: 11px;
    padding: 5px 0;
  }
}
/*# sourceMappingURL=style.css.map */